.lottery-title {
    text-align: center;
}
.lottery-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lottery-number {
    border: 1px solid #eee;
    border-radius: 0.5rem;
    padding: 2rem;
    font-size: 10rem;
}

.lottery-random-button {
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    margin-top: 1rem;
}